* {
  margin: 0%;
}
header {
  width: 100wh;
  height: 20vh;
  background-color: blueviolet;
}
img {
  width: 7%;
  height: 90%;
  margin-left: 2%;
  margin-top: 0.5%;
}
.links {
  display: inline-block;
  margin-left: 15rem;
}
.links a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  padding-right: 0.7rem;
  text-transform: uppercase;
}
.links a:hover {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: aqua;
}
.links a:visited {
  padding: 0.5rem;
  background-color: aqua;
  color: green;
}
/* .link a:active {
  padding: 0.5rem;
  background-color: aqua;
  color: white;
/* }  
