* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(212, 0, 0);
  display: flex;
}
.image img {
  width: 150px;
  height: 170px;
  background-color: white;
  padding: 25px;
  margin-top: 20px;
  margin-left: 20px;
}
.prvihead img {
  width: 100px;
  height: 60px;
  position: relative;
  top: -10px;
  right: 50px;
}
.prvihead {
  display: flex;
  width: 85%;
  background-color: white;
  height: 42.5px;
  margin-top: 20px;
  margin-left: 3px;
}
.prvihead p:nth-of-type(1) {
  color: red;
  margin: auto;
  margin-left: 13px;
}
.prvihead p:nth-of-type(2) {
  color: white;
  width: 90px;
  background-color: red;
  height: 42.5px;
  position: relative;
  right: 900px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.prvihead i {
  width: 30px;
  height: 42.5px;
  font-size: 30.5px;
  position: relative;
  top: 4px;
  right: 5px;
}
h1 {
  background-color: red;
  position: absolute;
  margin-top: 62.5px;
  width: 85%;
  margin-left: 173px;
  height: 42.5px;
  padding-left: 20px;
  color: white;
  font-size: 28px;
  padding-top: 5px;
}
.trecihead {
  position: absolute;
  width: 85%;
  margin-top: 105px;
  margin-left: 173px;
}
.trecihead ul {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 20px;
  height: 85px;
  background-color: white;
  padding-top: 30px;
  color: red;
}
.trecihead i {
  position: absolute;
  top: 30px;
  right: 300px;
  font-size: 26px;
  color: red;
}
.trecihead input {
  position: absolute;
  top: 34px;
  right: 60px;
  border: none;
  font-size: 18px;
}
input::placeholder {
  color: rgb(172, 168, 168);
}
