body {
  font-size: 20px;
  background-image: url(/liverpooool.webp);
}
.divmain {
  text-align: center;
  width: 500px;
  height: 400px;
  overflow: auto;
}
.divmain h2 {
  color: aqua;
}
.divmain p {
  color: chartreuse;
  text-align: center;
}
