h1 {
  color: orange;
}
.main h1 {
  color: red;
}
.main > p {
  color: blue;
  /* > znaci da se odnosi samo na prvi paragraf u kontejneru,ne i na ostale */
}
div + p {
  color: darkred;
}
/* predstavlja prvi element nakon diva,a ne svaki sledeci */
#childdiv {
  background-color: chartreuse;
}
/* ako nekom html tagu dodelimo i klasu i id i primenimo stilove,on ce preuzeti stilove samo od id taga,jer ima prednost u odnosu na class tag */
