.main {
  margin: 20px auto;
  width: 400px;
  height: 600px;
  background-color: chocolate;
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 3px 3px 9px rgba(0, 0, 0);
  border: dashed;
}
.slika {
  height: 200px;
  margin-bottom: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.slika {
  background-image: url(/liv\ 5-0.jpg);
  background-size: cover;
}
.main h1 {
  text-align: center;
  /* text-transform:capitalize */
  text-transform: uppercase;
  text-align: center;
  margin: 15px;
}
h1:hover {
  background-color: orange;
}
.main p {
  text-transform: capitalize;
  margin: 25px;
  font-size: 13px;
  text-indent: 30px;
  text-align: justify;
}
.main h3 {
  text-align: center;
}

p:hover {
  background-color: yellow;
}
.slika:hover {
  background-image: url(/liv\ champp.jpg);
}
.main:nth-of-type(2) {
  margin: 20px auto;
  width: 400px;
  height: 600px;
  background-color: blue;
  border-radius: 10px;
  border: 3px solid black;
  box-shadow: 3px 3px 9px rgba(0, 0, 0);
  border: dashed;
}
